/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
nav ul{
    list-style-type: none;
    display: flex;
    gap : 10px;
}

nav li{
    display: inline;
}

nav a{
    text-decoration: none;
}

.overview-hero{
    display: flex;
    align-items: center;
    gap: 20px;
}

.overview-hero-image img{
    height: 150px;
    width: 150px;
    border-radius: 15%;
}

.overview-hero--text{
    flex: 1;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.card img {
    width: 100%; 
    height: auto;
    border-radius: 8px 8px 0 0; 
}

.card h3 {
    margin: 15px 0 10px; 
}

.card-body {
    font-size: 14px; 
    color: #555;
}